.circular {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 500px;
  top: 200px;
}

.inner {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  transform: translate3d(50%, 50%, 0);
  border-radius: 50%;
}
